body {
  margin: 0;
  overflow: hidden;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
}

.scrollParent {
  height: 100%;
  margintop: 0;
  transition: margin-top 300ms cubic-bezier(0, 0, 0.2, 1);
}

.viewClass {
  padding: 10px;
  paddingtop: 0;
}

.content {
  display: block;
  width: max-content;
}

.main-section {
  flex: 1;
  position: relative;
  min-height: 0;
}

.editor {
  display: grid;
  grid-template-columns: 220px minmax(0, 1fr);
  height: calc(100vh - 80px);
  width: 100vw;
}

.stickyColHeader {
  background-color: white;
  z-index: 1;
}
